{% extends "base.html" %}
{% load static %}
{% block title %} Order {% endblock title %}

{% block content %}

<div class="container-lg mx-auto my-5">
    <div class="row gap-4">
        <div class="col-5">
            <div class="card mx-auto w-75 bg-light">
                <div class="card-body">
                    <h4 class="border-bottom py-2">Checkout</h4>
                    <!-- Order forms -->
                    {% include "pages/forms/orders.html" with form=form %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-order border-0 border-bottom border-secondary border-4">
                <div class="card-body">
                    <h5 class="card-title">Your orders:</h5>
                    <p class="card-text">
                        <!-- About orders -->
                        {% include "pages/orders/include/orderitems.html" with cart=cart%}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}