{% extends "base.html" %}

{% block title %} Cart {% endblock title %}

{% block content %}
<table class="table mx-5 table-borderless">
    <thead>
        <tr>
            <th scope="col" style='width:200px;'>Image</th>
            <th scope="col">Product</th>
            <th scope="col">Remove</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody class='align-content-center'>
        {% for item in cart%}
            {% with product=item.product %}
        <tr>
            <th scope="row">
                <img src="{{ product.image.url }}" class="img-thumbnail" alt="...">
            </th>
            <td>{{ product.title }}</td>
            <td>
                <form action="{% url 'cart:cart_remove' product.id%}" method="POST">
                    {% csrf_token%}
                    <button type='submit' class='btn btn-sm btn-danger'>Remove</button>
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_add' product.id%}" method="POST">
                    {% csrf_token%}
                    {{ item.item_override.quantity}}
                    {{ item.item_override.override}}
                    <button type='submit' class='btn btn-sm btn-success'>Add</button>
                </form>
            </td>
            {% if product.total_price < product.price %}
                {% with discount=product.product_allowance.all%}
                    {% for discount in discount %}
                    <td class='d-flex justify-content-start gap-3'>${{ product.total_price }}</span><span class='text-danger'>-{{discount.discount}}%</span></td>
                    {% endfor %}
                {% endwith %}
                    
            {% else %}
                <td>{{ product.total_price }}</td>
            {% endif %}
            
            <td>${{ item.total_price }}</td>
        </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td class="table-dark" colspan="5">Total</td>
            <td class="table-dark">${{ cart.get_total_price}}</td>
        </tr>
    </tbody>
</table>
<div class='d-flex justify-content-between mx-5'>
    <a href="{% url 'shop:product_list_url'%}" class="btn btn-sm btn-outline-secondary px-5">Continues Shopping</a>
    <a href="{% url 'order:create_order_url'%}" class="btn btn-sm btn-success px-5">Checkout</a>
</div>
{% endblock content %}