{% extends "base.html" %}

{% block title %} Cart {% endblock title %}

{% block content %}
<table class="table mx-5 table-borderless">
    <thead>
        <tr>
            <th scope="col" style='width:200px;'>Image</th>
            <th scope="col">Product</th>
            <th scope="col">Remove</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody class='align-content-center'>
        <!-- Items cart -->
        {% include "pages/include/added/itemcart.html" with cart=cart%}
        
        {% if cart.coupon %}
        <tr>
            <td class="table-light">{{ cart.coupon.code}} coupon</td>
            <td class="table-light text-danger" colspan='4'>-{{cart.coupon.discount}}%</td>
            <td class="table-light" colspan='4'>$-{{cart.get_coupon_discount|floatformat:2}}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="table-dark">Total</td>
            <td class="table-dark" colspan="4">
                <form action="{% url 'coupon:coupons_url' %}" method="POST" class='d-flex  justify-content-start align-items-center'>
                    {% csrf_token %}
                    {{ coupon_form.as_p}}
                    <button class='btn btn-sm btn-primary mb-3'>Apply</button>
                </form>
            </td>
            <td class="table-dark">${{ cart.get_coupon_discount_total_price|floatformat:2}}</td>
        </tr>
    </tbody>
</table>
<div class='d-flex justify-content-between mx-5'>
    <a href="{% url 'shop:product_list_url'%}" class="btn btn-sm btn-outline-secondary px-5">Continues Shopping</a>
    <a href="{% url 'order:create_order_url'%}" class="btn btn-sm btn-success px-5">Checkout</a>
</div>
{% endblock content %}