{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block title %} {{ product.title }}{% endblock title %}

{% block content %}
<div class="row gap-5 mx-2 my-5">
    <div class="col-2 col-md-1">
        <!-- Categories code -->
        {% categories_list product.category.slug product.category.id %}
    </div>
    <div class="col-sm-5 col-md-7 ">
        <!-- Detail code -->
        {% include "pages/include/details.html" with product=product%}
    </div>
    <div class="col-sm-5 col-md-3">
        <h4 class='mx-3'>{% if category %}{{category.title }}{% else %}All{% endif %} Products</h4>
        <a href="{% url 'shop:product_create_url'%}" class="btn btn-sm btn-primary">Add Product</a>
        <div class="container-fluid w-100">
        <!-- Products code -->
            {% include "pages/include/products.html" with products=products%}
        </div>
    </div>
</div>
{% endblock content %}
