{% extends "base.html" %}
{% load tags %}
{% load static %}
{% block title %}Search Products {% endblock title %}

{% block content %}
<div class="row gap-5 mx-2 my-5">
    <div class="col-6 col-md-1">
        <!-- Categories code -->
        {% categories_list category.slug category.id %}
        <form action="{% url 'shop:search_url'%}">
            {{search_form.as_p}}
            <button class='btn btn-sm btn-primary'>Search</button>
        </form>
    </div>
    <div class="col-sm-6 col-md-10">
        <h4 class='mx-3'>{% if query %}{{ query }}{% endif %} Products</h4>
        {% if query %}
        <div class="container-fluid w-100">
        <!-- Products code -->
            {% include "pages/include/products.html" with products=results query=query%}
        </div>
        {% else %}
        <div class="container-fluid w-100">
            Products not founds!
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
