{% extends "base.html" %}
{% load tags %}
{% load static %}
{% block title %} {% if category %}{{ category.title }} {% else %} Shop {% endif %} Products {% endblock title %}

{% block content %}
<div class="row gap-5 mx-2 my-5">
    <div class="col-6 col-md-1">
        <!-- Categories code -->
        {% categories_list category.slug category.id %}
    </div>
    <div class="col-sm-6 col-md-10">
        <h4 class='mx-3'>{% if category %}{{category.title }}{% else %}All{% endif %} Products</h4>
        <a href="{% url 'shop:product_create_url'%}" class="btn btn-sm btn-primary">Add Product</a>
        <div class="container-fluid w-100">
        <!-- Products code -->
            {% include "pages/include/products.html" with products=products%}
        </div>
    </div>
</div>
{% endblock content %}
